<!-- loja_virtual_app/templates/loja_virtual_app/cadastrar_produto.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5" style="margin-bottom: 50px;">
        <!-- Informações do usuário -->
        <div class="d-flex justify-content-between mb-4">
            {% if user.is_authenticated %}

            <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
            {% else %}
            <p class="mb-0">Você não está logado. <a href="{% url 'login' %}">Faça login</a> para acessar esta página.
            </p>
            {% endif %}
        </div>

        <!-- Formulário de cadastro de produto -->
        <h2>Cadastrar Produto</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <a href="{% url 'homepage' %}" class="btn btn-secondary mt-3">Voltar para Homepage</a>
    </div>
</body>

</html>