<!-- loja_virtual_app/templates/loja_virtual_app/detalhe_produto.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <!-- Informações do usuário -->
        <div class="d-flex justify-content-between mb-4">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
            {% else %}
            <p class="mb-0">Você não está logado. <a href="{% url 'login' %}">Faça login</a>.</p>
            {% endif %}
        </div>

        <!-- Detalhes do Produto -->
        <div class="text-center">
            <h2>{{ produto.nome }}</h2>
            {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="img-fluid mt-3"
                style="max-height: 400px;">
            {% else %}
            <img src="https://via.placeholder.com/400" alt="Sem Imagem" class="img-fluid mt-3">
            {% endif %}
            <p class="mt-4"><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
            <p><strong>Quantidade disponível:</strong> {{ produto.quantidade }}</p>
            <div class="mt-4" style="margin-bottom: 50px;">
                <a href="{% url 'listar_produtos' %}" class="btn btn-success">Voltar para Lista de Produtos</a>
                <a href="{% url 'homepage' %}" class="btn btn-secondary">Voltar para Homepage</a>
            </div>
        </div>
    </div>
</body>

</html>